@font-face {
    font-family: "Montserrat__Regular";
    src: url("../fonts/Montserrat-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat__SemiBold";
    src: url("../fonts/Montserrat-SemiBold.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat__Bold";
    src: url("../fonts/Montserrat-Bold.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto__Regular";
    src: url("../fonts/Roboto-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto__LightItalic";
    src: url("../fonts/Roboto-LightItalic.woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "KaushanScript__Regular";
    src: url("../fonts/KaushanScript-Regular.woff");
    font-weight: normal;
    font-style: normal;
}