%list {
    list-style: none;
    padding: 0;
    margin: 0;
}

%section__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin font-settings($color, $ff, $fw, $fs, $lh) {
    color: $color;
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}